.page__buttons-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-3);
  border-bottom: 1px solid var(--under-outline);
}

.page__buttons-mob--item {
  padding: var(--spacing-3) var(--spacing-0) var(--spacing-2);
  letter-spacing: 0.12rem;
  opacity: 0.5;
  border-bottom: 4px solid transparent;
  font-size: 0.8rem;
}

.page__buttons-mob--item:hover,
.page__buttons-mob--item:focus {
  opacity: 1;
}

.page__buttons-mob--item.active {
  color: var(--white);
  opacity: 1;
  border-bottom: 4px solid var(--white);
}
