body {
  background: black url("/assets/background-stars.svg") no-repeat center center;
  min-height: 100vh;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.btn {
  text-transform: uppercase;
}

.content-area {
  display: flex;
}

.no-scroll {
  overflow-y: hidden;
}
