body {
  background: black url("/assets/background-stars.svg") no-repeat center center;
  min-height: 100vh;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  padding: 1em;
  position: relative;
  z-index: 2;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #fff;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.btn {
  text-transform: uppercase;
}

.content-area {
  display: flex;
}
