.page {
  &__content {
    padding: 0 var(--spacing-3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    text-align: center;
  }

  &__content p {
    max-width: 40ch;
    margin-top: var(--spacing-2);
  }
  @media (min-width: 48rem) {
    &__larger-screens {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--spacing-3);
      gap: var(--spacing-8);
    }
    &__content {
      align-items: flex-start;
      padding: 0;
      width: 60%;
    }
    &__text {
      text-align: left;
    }
  }

  @media (min-width: 64rem) {
    &__larger-screens {
      padding-inline: var(--spacing-12);
    }
  }
}

@media (min-width: 75rem) {
  .page {
    display: flex;
    justify-content: space-between;
    padding-inline: 10rem;
    margin-top: 10rem;

    &__larger-screens {
      flex-direction: column;
      justify-content: center;

      padding: 0;
      width: 30%;
    }

    &__content {
      align-items: flex-start;
      padding: 0;
      width: 100%;
    }
  }
}

.wiki-link {
  margin-top: var(--spacing-4);
  display: flex;
  gap: var(--spacing-1);
  opacity: 0.6;
}

.wiki-link a {
  text-transform: initial;
  text-decoration: underline;
}

.wiki-link::after {
  content: url("/assets/icon-source.svg");
}

.planet__img {
  &-container {
    position: relative;
    display: flex;
  }

  @media (min-width: 48rem) {
    &-container {
      display: block;
    }
  }

  @media (min-width: 75rem) {
    &-container {
      width: 50%;
    }
  }

  &--surface {
    position: absolute;
    width: 20%;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--Mercury {
    width: 29.6vw;
    margin: var(--spacing-9) auto;
  }
  @media (min-width: 48rem) {
    &--Mercury {
      width: 24vw;
    }
  }
  @media (min-width: 75rem) {
    &--Mercury {
      max-width: 18rem;
    }
  }

  &--Venus {
    width: 41vw;
    margin: var(--spacing-9) auto;
  }
  @media (min-width: 48rem) {
    &--Venus {
      width: 33vw;
    }
  }
  @media (min-width: 75rem) {
    &--Venus {
      max-width: 25rem;
    }
  }

  &--Earth {
    width: 46vw;
    margin: var(--spacing-8) auto;
  }
  @media (min-width: 48rem) {
    &--Earth {
      width: 37vw;
    }
  }
  @media (min-width: 75rem) {
    &--Earth {
      max-width: 28rem;
    }
  }

  &--Mars {
    width: 34.4vw;
    margin: var(--spacing-11) auto;
  }
  @media (min-width: 48rem) {
    &--Mars {
      width: 28vw;
    }
  }
  @media (min-width: 75rem) {
    &--Mars {
      max-width: 21rem;
    }
  }

  &--Jupiter {
    width: 59.75vw;
    margin: var(--spacing-5) auto;
  }
  @media (min-width: 48rem) {
    &--Jupiter {
      width: 48vw;
    }
  }
  @media (min-width: 75rem) {
    &--Jupiter {
      max-width: 36rem;
    }
  }

  &--Saturn {
    width: 65vw;
    margin: var(--spacing-4) auto;
  }
  @media (min-width: 48rem) {
    &--Saturn {
      width: 52vw;
    }
  }
  @media (min-width: 75rem) {
    &--Saturn {
      max-width: 40rem;
    }
  }

  &--Uranus {
    width: 47vw;
    margin: var(--spacing-8) auto;
  }
  @media (min-width: 48rem) {
    &--Uranus {
      width: 38vw;
    }
  }
  @media (min-width: 75rem) {
    &--Uranus {
      max-width: 29rem;
    }
  }

  &--Neptune {
    width: 46vw;
    margin: var(--spacing-8) auto;
  }
  @media (min-width: 48rem) {
    &--Neptune {
      width: 37vw;
    }
  }
  @media (min-width: 75rem) {
    &--Neptune {
      max-width: 28rem;
    }
  }
}
