---
const { label, value } = Astro.props;
---

<div class="footer__card">
  <div class="footer__card-items">
    <h3>{label}</h3>
    <span>{value}</span>
  </div>
</div>

<style>
  .footer__card-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-2) var(--spacing-3);
    border: 1px solid var(--under-outline);
    margin-top: var(--spacing-1);
  }

  h3 {
    opacity: 0.5;
    letter-spacing: 0.2ch;
  }

  span {
    font-family: "Antonio", sans-serif;
    font-weight: 400;
    font-size: 1.25em;
  }
</style>
