---
---

<div class="hamburger">
  <button class="hamburger" aria-label="Open navigation">&#9776;</button>
</div>

<style>
  .hamburger {
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
  }

  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }
</style>
