---
import Nav from "../components/Nav.astro";
import Hamburger from "../components/Hamburger.astro";
---

<header>
  <a class="home" href="/">The Planets</a>
  <Nav />
  <Hamburger />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    height: 4rem;
    padding: 0 var(--spacing-3);
  }

  header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--underline);
    z-index: 3;
  }

  .home {
    font-family: "Antonio", sans-serif;
    font-size: 1.75rem;
  }
</style>
