---
import Nav from "../components/Nav.astro";
import Hamburger from "../components/Hamburger.astro";
---

<header>
  <a class="planets-home" href="/">The Planets</a>
  <Nav />
  <Hamburger />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: var(--spacing-2) var(--spacing-3);
  }

  header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--under-outline);
    z-index: 3;
  }

  .planets-home {
    font-family: "Antonio", sans-serif;
    font-size: 1.75rem;
  }

  @media (min-width: 37.5rem) {
    header {
      flex-direction: column;
      padding-bottom: 0;
    }
  }
</style>
