---
---

<nav class="nav" role="navigation">
  <ul class="nav__list">
    <li class="nav__item" data-planet="mercury">
      <a href="/mercury" class="nav__link">Mercury</a>
    </li>
    <li class="nav__item" data-planet="venus">
      <a href="/venus" class="nav__link">Venus</a>
    </li>
    <li class="nav__item" data-planet="earth">
      <a href="/" class="nav__link">Earth</a>
    </li>
    <li class="nav__item" data-planet="mars">
      <a href="/mars" class="nav__link">Mars</a>
    </li>
    <li class="nav__item" data-planet="jupiter">
      <a href="/jupiter" class="nav__link">Jupiter</a>
    </li>
    <li class="nav__item" data-planet="saturn">
      <a href="/saturn" class="nav__link">Saturn</a>
    </li>
    <li class="nav__item" data-planet="uranus">
      <a href="/uranus" class="nav__link">Uranus</a>
    </li>
    <li class="nav__item" data-planet="neptune">
      <a href="/neptune" class="nav__link">Neptune</a>
    </li>
  </ul>
</nav>

<style>
  /* MOBILE NAV */
  @media (max-width: 37.5rem) {
    .nav {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: var(--dk-blue-bg);
      width: 100%;
      inset: 0 0 0 -100%;
      transform: translateX(0);
      transition: transform 250ms ease;
      z-index: -1;
      padding: var(--spacing-5) 0;
    }
    .nav__open {
      transform: translateX(100%);
    }

    .nav__list {
      padding: var(--spacing-5) var(--spacing-3) 0;
    }

    .nav__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.7rem 0;
      padding-left: var(--spacing-0);
      border-radius: var(--spacing-0) var(--spacing-0) 0 0;
      width: 100%;
      margin-top: var(--spacing-0);
      border-bottom: 1px solid var(--under-outline);
    }

    .nav__link {
      width: 100%;
      height: 100%;
    }

    .nav__item:last-child {
      border-bottom: none;
    }

    .nav__item:hover,
    .nav__item:focus,
    .nav__item:active {
      background-color: var(--hover-grey);
    }

    .nav__item::before {
      content: "";
      display: block;
      width: 1.25rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: var(--planet-color);
      margin-right: var(--spacing-2);
    }

    /* PLANET COLOURS FOR ::BEFORE ICON */
    .nav__item[data-planet="mercury"]::before {
      background-color: var(--mercury-color);
    }
    .nav__item[data-planet="venus"]::before {
      background-color: var(--venus-color);
    }
    .nav__item[data-planet="earth"]::before {
      background-color: var(--earth-color);
    }
    .nav__item[data-planet="mars"]::before {
      background-color: var(--mars-color);
    }
    .nav__item[data-planet="jupiter"]::before {
      background-color: var(--jupiter-color);
    }
    .nav__item[data-planet="saturn"]::before {
      background-color: var(--saturn-color);
    }
    .nav__item[data-planet="uranus"]::before {
      background-color: var(--uranus-color);
    }
    .nav__item[data-planet="neptune"]::before {
      background-color: var(--neptune-color);
    }

    .nav__item::after {
      content: url("/assets/icon-chevron.svg");
      display: block;
      width: 1.5rem;
      aspect-ratio: 1/1;
      margin-top: 0.5rem;
      margin-left: auto;
    }
  }

  /* LARGE NAV */

  @media (min-width: 37.5rem) {
    .nav {
      align-self: stretch;
      padding-top: var(--spacing-2);
    }
    .nav__list {
      display: flex;
      justify-content: space-between;
    }

    .nav__item {
      padding-bottom: 1em;
    }

    /* PLANET COLOURS FOR ACTIVE BORDER BOTTOM */
    .nav__item[data-planet="mercury"].active .nav__link {
      border-bottom: 4px solid var(--mercury-color);
    }
    .nav__item[data-planet="venus"].active .nav__link {
      border-bottom: 4px solid var(--venus-color);
    }
    .nav__item[data-planet="earth"].active .nav__link {
      border-bottom: 4px solid var(--earth-color);
    }
    .nav__item[data-planet="mars"].active .nav__link {
      border-bottom: 4px solid var(--mars-color);
    }
    .nav__item[data-planet="jupiter"].active .nav__link {
      border-bottom: 4px solid var(--jupiter-color);
    }
    .nav__item[data-planet="saturn"].active .nav__link {
      border-bottom: 4px solid var(--saturn-color);
    }
    .nav__item[data-planet="uranus"].active .nav__link {
      border-bottom: 4px solid var(--uranus-color);
    }
    .nav__item[data-planet="neptune"].active .nav__link {
      border-bottom: 4px solid var(--neptune-color);
    }
  }
</style>

<script>
  function setActivePlanet(planet) {
    const navItem = document.querySelector(
      `.nav__item[data-planet="${planet}"]`
    );

    // Remove the active class from all nav items
    document.querySelectorAll(".nav__item").forEach((item) => {
      item.classList.remove("active");
    });

    // Add the active class to the clicked nav item
    navItem.classList.add("active");
  }

  // When the page loads, check for the stored active planet and set the active class accordingly
  document.addEventListener("DOMContentLoaded", () => {
    const storedPlanet = localStorage.getItem("activePlanet");
    const isBaseURL = window.location.pathname === "/";

    if (storedPlanet && !isBaseURL) {
      setActivePlanet(storedPlanet);
    } else {
      setActivePlanet("earth");
      localStorage.setItem("activePlanet", "earth");
    }
  });

  const navLink = document.querySelectorAll(".nav__link");
  navLink.forEach((link) => {
    link.addEventListener("click", function () {
      const navItem = this.closest(".nav__item");
      const planet = navItem.dataset.planet;

      // Store the clicked planet in localStorage
      localStorage.setItem("activePlanet", planet);

      // Set the active class for the clicked nav item
      setActivePlanet(planet);
    });
  });
</script>
