---
---

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="/mercury" class="nav__link">Mercury</a>
    </li>
    <li class="nav__item">
      <a href="/venus" class="nav__link">Venus</a>
    </li>
    <li class="nav__item">
      <a href="/" class="nav__link">Earth</a>
    </li>
    <li class="nav__item">
      <a href="/mars" class="nav__link">Mars</a>
    </li>
    <li class="nav__item">
      <a href="/jupiter" class="nav__link">Jupiter</a>
    </li>
    <li class="nav__item">
      <a href="/saturn" class="nav__link">Saturn</a>
    </li>
    <li class="nav__item">
      <a href="/uranus" class="nav__link">Uranus</a>
    </li>
    <li class="nav__item">
      <a href="/neptune" class="nav__link">Neptune</a>
    </li>
  </ul>
</nav>

<style>
  ul {
    list-style: none;
  }

  .nav {
    position: fixed;
    background: black;
    top: 4rem;
    width: 100%;
    right: 0;
    bottom: 0;
    left: -100%;
    transition: transform 500ms ease;
  }

  .nav__list {
    display: flex;

    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .nav__open {
    transform: translateX(100%);
  }
</style>
