---
---

<nav>
  <ul>
    <li><a href="/mercury">Mercury</a></li>
    <li><a href="/venus">Venus</a></li>
    <li><a href="/">Earth</a></li>
    <li><a href="/mars">Mars</a></li>
    <li><a href="/jupiter">Jupiter</a></li>
    <li><a href="/saturn">Saturn</a></li>
    <li><a href="/uranus">Uranus</a></li>
    <li><a href="/neptune">Neptune</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
  }

  ul {
    display: flex;
  }

  li {
    margin-left: 1em;
  }
</style>
