---
import contentData from "../data/contentData.json";

import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import ContentLayout from "../layouts/ContentLayout.astro";

import type { DataProps } from "../interface";

interface Props {
  index: number;
}

const { index }: Props = Astro.props;

const planetData: DataProps = contentData[index];

const { name } = planetData;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />

    <meta name="generator" content={Astro.generator} />
    <title>Planet Facts | {name}</title>
  </head>
  <body>
    <Header />
    <ContentLayout {...planetData} />
    <Footer {...planetData} />
    <script
      src="https://kit.fontawesome.com/1bab37c906.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
