.page__buttons-large {
  display: flex;
  flex-direction: column;
}

.page__buttons-large--item {
  display: flex;
  padding: var(--spacing-2) var(--spacing-3);
  border: 1px solid var(--under-outline);
}
